body{
    font-family:'Lucida Sans',sans-serif;
    background: #e0e0e0;
    color: #707070;
    margin:0;
    padding:0;
}

.card.rounded.my-3.shadow-lg.back-card{
    max-width: 600px;
    min-width: 600px;
}

.containter.my-5{
    margin: 0;
    padding: 0;
    max-width: 600px;
    min-width: 600px;
    inset: 0;
}

.text-center-title{
    width:400px;
    height: 100px;
    text-align: center;
    font-weight: 700; 
    font-size: 50px;
}

.city-name.my-3{
    
    position:center;
    font-weight: 400;
    font-size: 36px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    top:60px;
}
.card-body{
    width: 400px;
}

.search-location{
    width: 600px;
    height: 100px;
    align-self: self-start;
}

.card-mid.row{
    width: 600px;
}

.col-4.condition-temp p{
    align-content: end;
}

.icon-container.card.shadow{
    position:relative;
    width: 78px;
    height: 78px;
    

}




